* {
  margin: 0;
  padding: 0;
}
  
* {
  box-sizing: border-box; 

}
  
body {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(47, 46, 46);
}

/* ------ NAVIGATION BAR ---------------------- */
header {
  background-color: #f8f8f8;
}

nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  align-items: center;
}

nav ul {
  list-style-type: none;
}

nav li {
  padding-left: 1.5rem;
  float: left;
}

nav a {
  text-decoration: none;
  color: rgb(22, 141, 200);
  font-size: larger;
  padding: 0.2em 0;
}

.header-title {
  width: 80%;
}

.header-title h1 {
  font-weight: 100;
  color: rgb(121, 58, 4);
}

.header-title p {
  color: rgb(116, 113, 113);
  font-size: 0.8rem;
}

nav a:hover {
  color: rgba(121, 58, 4, 0.8);
}

.current-page {
  border-bottom: solid rgb(22, 141, 200) 0.1rem;
}

.current-page:hover {
  color:rgb(22, 141, 200);
}
/* ---- End of NAVIGATION ------------------------------ */

/* ----- FONTS USED THROUGHOUT THE SITE ----------------- */
h2 {
  color: rgb(22, 141, 200);
  font-weight: 400;
  font-size: 1.8rem;
  letter-spacing: 2px;
}

h3 {
  color: rgb(22, 141, 200);
  font-weight: 400;
  font-size: 1.5rem;
  letter-spacing: 2px;
}

p {
  line-height: 1.3rem;
  font-size: 1rem;
}
/* --- end of FONTS ---------------------------------------------- */

/* --- STYLES FOR CONTAINER, ROW, and COLUMN CLASSES ----------------------- */
.container {
  width: 80%;
  margin: 0 auto;
}

.container-nav {
  display: flex;
  padding-top: 2em;
  padding-bottom: 2em;
}

.row {
  display: flex;
  justify-content: space-between;
  padding-top: 2em;
  padding-bottom: 2em;
}

.col-1 {
  width: 20%;
}

.col-2 {
  width: 30%;
}

.col-3 {
  width: 50%;
}

.col-wide {
  width: 70%;
}

.line {
  border-bottom: solid rgba(36, 122, 165, 0.8);
}
/* End of CONTAINER and BOX classes */

/* --- LANDING PAGE ----------------------------------------- */
/* Intro section */
.intro-image {
  background-image: url("assets/intro.jpeg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 80vh;
}

.intro-image h1 {
  position:relative;
  top: 30%;
  left: 10%;
  color: rgba(255, 255, 255, 0.9);
  flex-shrink: 0;
  font-size: 4rem;
  font-weight: 500;
  text-shadow: 1px 0 0 rgba(121, 58, 4, 0.6);
  width: 50%;
}

/* Skills section - special formatting */
.col-skills-list {
  width: 80%;
}

.col-skills-list li {
  list-style-type: none;
  font-weight: 600;
}

.col-skills-list p {
  word-spacing: 1.5px;
  font-size: 19px;
}

#projects-link {
  text-decoration: none;
  color: rgb(22, 141, 200);
}
/* --- End of LANDING PAGE ------------------------------------- */

/* --- ABOUT PAGE ---------------------------------------------- */
/* Background image for the about page */
.background {
  background-image: url("assets/about.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

.container-about-me {
  padding-bottom: 5em;
  width: 80%;
  margin: 0 auto;
}

.container-about-me h2 {
  text-align: center;
  padding: 2em 0 2em;
}


.panel-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  
}

/* Styles for the panel display*/
.panel {
  border-radius: 25px;
  margin: 0.7em;
  padding: 1rem 5rem;
  cursor: pointer;
  width: 70%;
  transition: 0.3s ease-in;
  overflow: hidden;
  position: relative;
  
}

.panel-title {
  font-size: 2rem;
  font-weight: 700;
  margin: 1em;
  color: white;
  text-align: center;
  text-shadow: 1px 0 0 rgba(121, 58, 4, 0.6);
}

.panel-text {
  display: none;
  line-height: 1.5em;
  text-align: center;
  padding-bottom: 2rem;
}

.btn-toggle {
  border: 0;
  cursor: pointer;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  padding: 0;
  position: absolute;
  top: 3.7rem;
  right: 2rem;
  color: #fff;
}

.btn-toggle .fa-times {
  display: none;
}

/* active class */
.panel.active .panel-text {
  display: block;
  font-size: 1.3rem;
  font-weight: 100;
  margin-bottom: 1em;
}

.panel.active .btn-toggle .fa-times {
  display: block;
  
}

.panel.active .btn-toggle .fa-chevron-down {
  display: none;
}

btn-toggle:focus {
  outline: none;
}

/* color styles for the panels */
#yellow {
  background-color: rgba(255, 211, 0, 0.6);
  margin-top: 2rem;
}

#pink {
  background-color: rgba(255, 192, 203, 0.6);
}

#green {
  background-color: rgba(102, 205, 170, 0.6);
  margin-bottom: 2rem;
}
/* --- End of ABOUT PAGE --------------------------------------- */

/* --- PROJECTS PAGE ------------------------------------------- */

.link {
  font-size: 14px;
}

.padding {
  padding-right: 1em;
}

.align-baseline {
  align-items: baseline;
}

.carousel {
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
  height: 530px;
  width: 500px;
  overflow: hidden;
}

.image-container {
  display: flex;
  transform: translateX(0);
  transition: transform 0.5s ease-in-out
}

img {
  width: 500px;
  height: 500px;
  object-fit:contain;
  padding: 10px;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
}

.btn {
  background-color: rgb(22, 141, 200);
  color: #fff;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  width: 49.5%;
}

.btn:hover {
  opacity: 0.8;
}

.btn:focus {
  outline: none;

}


/* --- End of PROJECTS PAGE ------------------------------------------- */

/* --- FOOTER SECTION ------------------------------------------------- */
footer {
  background-image: linear-gradient(to right, rgba(249, 200, 156, 0.4), rgba(121, 58, 4, 0.6));
  width: 100%;
  color: whitesmoke;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: white;
  list-style-type: none;
  padding: 15px;
  display:inline-block;
}

/* --- End of FOOTER section -------------------------------------- */

/* --- Responsive design ------------------------------------------ */



@media (max-width: 1100px) {
  .intro-image h1 {
    font-size: 3rem;
    width: 70%;
  }
  .row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .col {
    width: 100%;
  }

  .header-title h1 {
    text-align: center;
  }
  .header-title p {
    text-align: center;
  }
}

@media (max-width: 800px) {
  .row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .col {
    width: 100%;
  }
  .container-nav {
    flex-direction: column;
  }
  .container-about-me {
    padding-top: 0;
    padding-bottom: 0;
    width: 100%;
  }
  nav {
    justify-content: center;
  }
  .header-title {
    width: 100%;
  }
  nav li {
    padding: 0.5em;
    text-align: center;
    width: 100%;
  }

}

@media (max-width: 600px) {
  .intro-image h1 {
    font-size: 2rem;
    width: 70%;
  }
  .row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .col {
    width: 100%;
  }
  .container-nav {
    flex-direction: column;
  }
  .container-about-me {
    padding-top: 0;
    padding-bottom: 0;
    width: 100%;
  }
  nav {
    justify-content: center;
  }
  .header-title {
    width: 100%;
  }
  nav li {
    padding: 0.5em;
    text-align: center;
    width: 100%;
  }
}

@media (max-width: 550px) {

  .media-container {
    width: 98%;
    margin: 0 auto;
  }
  .img-h3 {
    text-align: center;
  }
  .img-carousel {
    box-shadow: none;
    height: 100%;
    width: 100%;
  }
  .image-container {
    display: flex;
    flex-direction: column;
  }

.img {
  padding: 0;
}
  .btn {
    visibility:hidden;
}

  .panel {
    width: 90%;
    padding: 0.5rem;
  }
  .panel-title {
    font-size: 1.5rem;
  }

  .btn-toggle {
   top: 2.5rem;
    right: 0.7rem;
  }

}